In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
data = pd.read_csv('/Users/ekaterinaburtseva/Python_3/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
386,tt1250777,28000000,96188903,Kick-Ass,Aaron Taylor-Johnson|ChloÃ« Grace Moretz|Chris...,Matthew Vaughn,Shut up. Kick ass.,Dave Lizewski is an unnoticed high school stud...,117,Action|Crime,Lions Gate,3/22/2010,7.0,2010
1410,tt0397065,40000000,68766121,House of Wax,Elisha Cuthbert|Paris Hilton|Brian Van Holt|Ja...,Jaume Collet-Serra,Prey. Slay. Display,A group of unwitting teens are stranded near a...,113,Horror,Village Roadshow Pictures|Dark Castle Entertai...,5/6/2005,5.3,2005
441,tt1038686,26000000,67918658,Legion,Paul Bettany|Dennis Quaid|Kevin Durand|Kate Wa...,Scott Stewart,"When the last angel falls, the fight for manki...","When God loses faith in humankind, he sends hi...",100,Horror,Bold Films,1/21/2010,5.0,2010
780,tt1622979,47000000,157887643,Final Destination 5,Emma Bell|Nicholas D'Agosto|Miles Fisher|Ellen...,Steven Quale,We all share a common destination.,"In this fifth installment, Death is just as om...",92,Horror|Mystery,New Line Cinema|Practical Pictures|Parallel Zide,8/12/2011,5.9,2011

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [6]:
answers = {} # create dictionary for answers

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...


data['profit'] = data.revenue - data.budget # create column in data with calculated profit for each movie
# profit = revenue - budget
display(data['profit'])

0       1363528810
1        228436354
2        185238201
3       1868178225
4       1316249360
           ...
1884      82299717
1885      -8444012
1886     -40865180
1887      -3962091
1888      -9782502
Name: profit, Length: 1889, dtype: int64

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
data.groupby(['imdb_id'])['budget'].max().sort_values(ascending=False) #look for movie with max budget

imdb_id
tt1298650    380000000
tt0449088    300000000
tt2395427    280000000
tt0401729    260000000
tt0398286    260000000
               ...
tt0283111      5000000
tt0289043      5000000
tt2101441      5000000
tt2870612      5000000
tt4178092      5000000
Name: budget, Length: 1889, dtype: int64

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [10]:
data.groupby(['imdb_id'])['runtime'].max().sort_values(ascending=False) # look for movie with longest duration

imdb_id
tt0279111    214
tt0167260    201
tt0462322    191
tt0360717    187
tt0213149    183
            ...
tt0361089     76
tt0299172     76
tt0283426     72
tt0280030     72
tt1449283     63
Name: runtime, Length: 1889, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

In [12]:
data.groupby(['imdb_id'])['runtime'].min().sort_values() # look for movie with shortest duration

imdb_id
tt1449283     63
tt0280030     72
tt0283426     72
tt0299172     76
tt0361089     76
            ...
tt0213149    183
tt0360717    187
tt0462322    191
tt0167260    201
tt0279111    214
Name: runtime, Length: 1889, dtype: int64

# 4. Какова средняя длительность фильмов?

In [13]:
answers['4'] = '110' # +

In [14]:
data.runtime.mean() # calculate mean duration

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [15]:
answers['5'] = '107' # +

In [16]:
data.runtime.median() # fcalculate median duration

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [17]:
answers['6'] = 'Avatar (tt0499549)' # +

In [18]:
data.groupby(['imdb_id'])['profit'].max().sort_values(ascending=False) # look for the most profitable movie

imdb_id
tt0499549    2544505847
tt2488496    1868178225
tt0369610    1363528810
tt2820852    1316249360
tt0848228    1299557910
                ...
tt0424095     -84540684
tt0180052     -92896027
tt1305591    -111007242
tt0318974    -119180039
tt1210819    -165710090
Name: profit, Length: 1889, dtype: int64

# 7. Какой фильм самый убыточный?

In [19]:
answers['7'] = 'The Lone Ranger (tt1210819)' # +

In [20]:
data.groupby(['imdb_id'])['profit'].min().sort_values() # look for the most unprofitable movie

imdb_id
tt1210819    -165710090
tt0318974    -119180039
tt1305591    -111007242
tt0180052     -92896027
tt0424095     -84540684
                ...
tt0848228    1299557910
tt2820852    1316249360
tt0369610    1363528810
tt2488496    1868178225
tt0499549    2544505847
Name: profit, Length: 1889, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [21]:
answers['8'] = '1478' # +

In [23]:
data[(data.revenue > data.budget)].profit.count() # calculate the number of profitable movies

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = 'The Dark Knight (tt0468569)' # +

In [25]:
data[data.release_year == 2008].groupby('imdb_id')['revenue'].max().sort_values(ascending=False)
# look for the most profitable movie released in 2008

imdb_id
tt0468569    1001921825
tt0367882     786636033
tt0441773     631744560
tt0448157     624029371
tt0795421     609841637
                ...
tt0486674       6673422
tt0800241       5926410
tt0844286       5530764
tt0805570       3533227
tt0490181       2033165
Name: revenue, Length: 121, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = 'The Lone Ranger (tt1210819)' # +

In [27]:
data[(data.release_year > 2012) & (data.release_year <= 2014)].groupby(['imdb_id'])['profit'].min().sort_values()
# look for the most unprofitable movies release between 2012 and 2014

imdb_id
tt1210819    -165710090
tt0790736     -68351500
tt0884726     -51337973
tt1308729     -45510171
tt1235522     -36298836
                ...
tt1170358     708400000
tt1951264     717423452
tt1690953     894761885
tt1300854    1015439994
tt2294629    1124219009
Name: profit, Length: 256, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [28]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' # +

In [29]:
genres_splitted = data['genres'].str.split('|', expand=False) 
# convert the rows in the cells to lists in column 'genres'
genres_split = genres_splitted.explode() # apply explode to the column 'genres' so that each cell has one genre
genres_split.value_counts() # calculate the number of each genre

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

In [96]:
data_genres = data.copy() # df copy
genres_counter = Counter() # create Counter empty object
for i in range(len(data_genres)): 
    genres_list = data_genres.iloc[i]['genres'].split('|') # convert the rows in the cells to lists in column 'genres'
    genres_counter += Counter(genres_list) # count number of each genre
genres_counter.most_common(1) # find most common genre

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
answers['12'] = 'Drama' # +

In [31]:
movie_profit = data[data.profit > 0].copy() # choose the profitable movies (profit > 0) from df
movie_profit.genres = movie_profit.genres.str.split('|') # convert the rows in the cells to lists in column 'genres'
genres_profit = movie_profit.explode('genres').genres  
# apply explode to the column 'genres' so that each cell has one genre
genres_profit.value_counts() # calculate the number of each genre of profitable movies

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [32]:
'''option to find genre of most profitable movies summing up the profits for each genre. 
The answer is different from the previous one and does not match with answers options'''
movie_profit = data.copy() # df copy
movie_profit.genres = movie_profit.genres.str.split('|') # convert the rows in the cells to lists in column 'genres'
genres_profit = movie_profit.explode('genres')  
# apply explode to the column 'genres' so that each cell has one genre жанру
genres_profit.groupby('genres').profit.sum().sort_values(ascending=False) 
# calculate the number of each genre of profitable movies summing up the profits for each genre

genres
Adventure          86070466981
Action             80187900065
Comedy             59774752721
Fantasy            49716648913
Drama              49257224159
Thriller           46740546578
Family             46714255385
Science Fiction    40771890654
Animation          30680622718
Romance            23992150965
Crime              20261017900
Mystery            11752971178
Horror             10584197147
Music               4720498315
War                 4405027096
History             3046143524
Western             1022632954
Documentary          392078032
Foreign              -13444012
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = 'Peter Jackson' # +

In [34]:
movie_director = data.copy() # df copy
movie_director.director = movie_director.director.str.split('|') 
# convert the rows in the cells to lists in column 'director'
director_revenue = movie_director.explode('director')  
# apply explode to the column 'director' so that each cell has one director
director_revenue.groupby('director').revenue.sum().sort_values(ascending=False) 
# calculate the sum of revenue for each director to find the most successful director

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = 'Robert Rodriguez' # +

In [36]:
movie_action = data[data.genres.str.contains('Action', na=False)].copy() # choose Action movies in df
movie_action.director = movie_action.director.str.split('|') 
# convert the rows in the cells to lists in column 'director'
action_director = movie_action.explode('director') 
# apply explode to the column 'director' so that each cell has one director
action_director.groupby(['director'])['director'].count().sort_values(ascending=False) 
# look for director with biggest number of Action movies

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = 'Chris Hemsworth' # +

In [38]:
movie_revenue = data[data.release_year == 2012].copy() # choose movies released in 2012
movie_revenue.cast = movie_revenue.cast.str.split('|') # convert the rows in the cells to lists in column 'cast'
cast_revenue = movie_revenue.explode('cast') 
# apply explode to the column 'cast' so that each cell has one cast member
cast_revenue.groupby('cast').revenue.sum().sort_values(ascending=False) 
# look for the actor with biggest revenue in 2012

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = 'Matt Damon' # +

In [40]:
data_blockbuster = data[data.budget > data.budget.mean()].copy() 
# choose the movies with budget > mean budaget of all movies
data_blockbuster.cast = data_blockbuster.cast.str.split('|') # convert the rows in the cells to lists in column 'cast'
cast_blockbuster = data_blockbuster.explode('cast').cast 
# apply explode to the column 'cast' so that each cell has one cast member
cast_blockbuster.value_counts() # count the number of blockbusters for each actor

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Eddie Murphy          15
Samuel L. Jackson     15
                      ..
Michael Angarano       1
Todd Boyce             1
Edward James Olmos     1
John Witherspoon       1
Eleanor Tomlinson      1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = 'Action' # +

In [42]:
data_cage = data[data.cast.str.contains('Nicolas Cage', na=False)].copy() # choose movies with Nicolas Cage
data_cage.genres = data_cage.genres.str.split('|') # convert the rows in the cells to lists in column 'genres'
cage_genres = data_cage.explode('genres').genres 
# apply explode to the column 'genres' so that each cell has one genre
cage_genres.value_counts() # count the number of each genres for Nicolas Cage's movies

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Mystery             3
Family              3
History             2
Horror              1
War                 1
Romance             1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

In [44]:
data_paramount = data[data.production_companies.str.contains('Paramount Pictures', na=False)].copy() 
# choose Paramount Pictures movies and copy df
data_paramount.groupby('imdb_id')['profit'].min().sort_values() 
# apply groupby to calculate the most unprofitable movie from Paramount Pictures

imdb_id
tt0267626    -64831034
tt0300556    -60519261
tt0435705    -51788987
tt0375173    -46604061
tt0315297    -24805000
               ...
tt1229238    549713380
tt0418279    559709780
tt0367882    601636033
tt1055369    686297228
tt1399103    928746996
Name: profit, Length: 122, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '2015' # +

In [46]:
data_release_year = data.copy() # df copy
data_release_year.groupby('release_year')['revenue'].sum().sort_values(ascending=False) 
# apply groupby to find the year with the biggest revenue

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '2014' # +

In [48]:
data_warner = data[data.production_companies.str.contains('Warner', na=False)].copy() 
# choose Warner movies and copy df
data_warner.groupby('release_year')['profit'].sum().sort_values(ascending=False) 
# apply groupby to find the most profitable year for Warner movies

release_year
2014    2295464519
2007    2208217007
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1595278228
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     617151739
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = 'Сентябрь' # +

In [50]:
data_month = data.copy() # df copy
data_month['release_date'] = data_month.release_date.str.split('/') 
# convert the rows in the cells to lists in column 'release_date'
data_month['month'] = data_month['release_date'].apply(lambda x: x[0]) 
#apply lambda to create the column 'month' with month for each release_date
data_month.month.value_counts() #count the number of movies released in each month

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [52]:
answers['22'] = '450' # +

In [51]:
data_month.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  month                 1889 non-null   object
dtypes: float64(1), int64(5), object(10)
memory usage: 236.2+ KB

In [53]:
data_month = data.copy() # df copy
data_month['release_date'] = data_month.release_date.str.split('/') 
# convert the rows in the cells to lists in column 'release_date'
data_month['month'] = data_month['release_date'].apply(lambda x: x[0]) 
#apply lambda to create the column 'month' with month for each release_date
data_summer = data_month[data_month.month.str.contains('6|7|8', na=False)].copy() # choose the summer months from df
data_summer.month.count() # count the total number of movies released in summer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [54]:
answers['23'] = 'Peter Jackson' # +

In [55]:
data_month = data.copy() # df copy
data_month['release_date'] = data_month.release_date.str.split('/') # convert the rows in the cells to lists in column 'release_date'
data_month['month'] = data_month['release_date'].apply(lambda x: x[0]) 
#apply lambda to create the column 'month' with month for each release_date

data_winter = data_month.copy() #df copy
data_winter = data_winter[data_winter.month.isin(['12','1','2'])].copy() # choose winter month from df
data_winter['director'] = data_winter.director.str.split('/') 
# convert the rows in the cells to lists in column 'director'
winter_director = data_winter.explode('director').director 
# apply explode to the column 'director' so that each cell has one director
winter_director.value_counts(ascending=False) # count the number of movies release in winter for each director

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Shawn Levy           4
                    ..
Darren Aronofsky     1
Dave Meyers          1
Matthew Vaughn       1
Sam Mendes           1
Jesse Dylan          1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [56]:
answers['24'] = 'Four By Two Productions' # +

In [57]:
data_long_title = data.copy() #df copy
data_long_title['original_title_length'] = data_long_title['original_title'] 
#create new column 'original_title_length' in df
data_long_title['original_title_length'] = data_long_title['original_title_length'].map(lambda x: len(x)) 
#apply lambda to count the number of symbols for each original title
data_long_title['production_companies'] = data_long_title.production_companies.str.split('|') 
# convert the rows in the cells to lists in column 'production_companies'
production_companies_length = data_long_title.explode('production_companies') 
# apply explode to the column 'production_companies' so that each cell has one production company
production_companies_length.groupby('production_companies').original_title_length.max().sort_values(ascending=False) 
# apply groupby to find the production company which gives the longest title to its movies

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: original_title_length, Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [58]:
answers['25'] = 'Midnight Picture Show' # +

In [59]:
data_overview = data.copy() # copy df
data_overview['overview_length'] = data_overview['overview'] #create new column 'overview' in df
data_overview['overview_length'] = data_overview['overview_length'].map(lambda x: len(x.split(' ')))
#apply lambda to count the number of words for each overview
data_overview['production_companies'] = data_overview.production_companies.str.split('|')
# convert the rows in the cells to lists in column 'production_companies'
prod_overview_length = data_overview.explode('production_companies')
# apply explode to the column 'production_companies' so that each cell has one production company
prod_overview_length.groupby('production_companies').overview_length.mean().sort_values(ascending=False)
# apply groupby to find the production company which gives the longest overview to its movies

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_length, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

In [61]:
data_vote = data.copy() #df copy
data_vote.original_title[data_vote.vote_average.quantile(.99) < data_vote.vote_average]
#apply quntile to find the 1% of movies with the highest rating

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [62]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' # +

In [63]:
data_cast = data.copy() #df copy
data_cast['combinations'] = data_cast.cast.str.split('|').apply(lambda x: tuple(combinations(sorted(x), 2)))
# create column 'combinations', convert the rows in the cells to lists in column 'cast', combine each two actors from each list
Counter(data_cast.combinations.values.sum()).most_common(5) 
# count the number of each pair of actors and find 5 most common pairs

[(('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Helena Bonham Carter', 'Johnny Depp'), 6)]

ВАРИАНТ 2

# Submission

In [64]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [65]:
# и убедиться что ни чего не пропустил)
len(answers)

27